@import url('https://fonts.googleapis.com/css2?family=Kadwa:wght@400;700&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: 'Kadwa', serif;
    font-weight: normal;
}

h1{
    font-size: 5rem;
    margin: 2rem 6rem;
    
}

p{
    font-size: 1.5rem;
}

:root{
    --cor-amarelo: #FFEC58;
    --cor-azul: #1B3577;
    --cor-branco: #FFFFFF;
    --cor-amarelo-escuro: #CE7F00;
    --cor-preto: #000000;
    --cor-conquista--cinzento: #333;
    --cor-botao: #3865D7;
    --cor-input--cinzento: #808080;
    
}


header{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 1rem 0;
}

header img{
    width: 334px;
    height: 128px;
    font-size: 2rem;
}

ul{
    display: flex;
    list-style: none;
    font-size: 1.5rem;
    gap: 4rem;
    margin-left: auto;
    padding-right: 0;
    flex-wrap: wrap;
}

.missao, .objetivo{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: var(--cor-branco);
}

.missao{
    background-image: url(imagens/paisagem1.png);
}

.objetivo{
    align-items: flex-end;
    background-image: url(imagens/paisagem2.png);
}

.objetivo h2, .missao h2{
    font-size: 2.5rem;
    
}

.objetivo-container{
    display: flex;
    flex-direction: column;
}

.investigacao-main{
    display: flex;
    flex-wrap:wrap;
    background-color: var(--cor-amarelo);
    justify-content: center;
    align-items: center;
}

.investigacao-main p{
    font-size: .6rem;
}


.investigacao-contentor{
    flex: 1 1 300px;
    max-width: 500px;
    margin: 0 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: var(--cor-branco);
    width: 500px;
    margin: 1rem;
    padding: 1rem 1rem 1rem 1rem;
}

.investigacao-contentor img{
    padding: 0;
    margin: 0;
    width: 100%;
    height: auto;
}


.investigacao-contentor button{
    display: flex;
    background-color: var(--cor-amarelo-escuro);
    color: var(--cor-branco);
    border: solid 1rem var(--cor-branco);
    align-items: center;
    font-size: 1.5rem;
    border-radius: 10px;
    justify-content: center;
}

.investigacao-contentor h2{
    color: var(--cor-amarelo-escuro);
}

.parcerias{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    gap: 4rem;
}

.conquistas{
    display: flex;
    flex-direction: column;
    margin: 2rem;
    padding: 2rem;
    color: var(--cor-azul);
    border: solid 0.5rem var(--cor-azul);
    border-radius: 20px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
}

.item h1 {
    color: var(--cor-azul);
    font-size: 36px;
    margin: 0 0 15px 0;
}

.item p {
    color: var(--cor-conquista--cinzento);
    line-height: 1.6;
}

footer{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cor-azul);
}

footer h1{
    font-size: 1.75rem;
        margin: 0;
}

footer p{
    font-size:1rem;
}
footer p, footer h1{
    color: var(--cor-branco);
}

footer button{
    background-color:var(--cor-botao);
    border: 0px;
    color: var(--cor-branco);
    border-radius: 5px;
}

footer input{
    width: 100%;
    max-width: 10em;
    border: solid 2px var(--cor-input--cinzento);
    border-radius: 5px;
    padding-left: 0.2rem;
}

.footer-container{
    display: flex;
    justify-content: space-between;
    width: 80%;
    border-bottom: solid 2px var(--cor-branco);
}

.direitos{
    justify-content: center;
    align-items: center;
}

.contactos{
    display: flex;
    flex-direction:column;
}

.email{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.email-linha{
    display: flex;
    gap: 1rem;
    align-items: center;
}

.email-linha input{
    flex: 1;
}

.direitos{
    background-color: var(--cor-azul);
    display: flex;
    color: var(--cor-branco);
    justify-items: center;
    align-items: center;
    text-align: center;
    padding: 1rem;
}

.direitos p{
    font-size:0.75rem;
}